@charset "UTF-8";
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(255, 255, 255)FFF;
}

header {
  padding: 10px 100px;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
}

section.sec1 {
  background: url("https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

section.sec2 {
  padding: 100px;
  box-sizing: border-box;
  height: auto;
}

section.sec2 h2 {
  font-size: 3em;
  margin: 0;
  padding: 0 0 20px;
  color: #fff;
}

section.sec2 p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  color: #fff;
}

section.sec3 {
  background: url("https://images.pexels.com/photos/1267696/pexels-photo-1267696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

nav {
  width: 100%;
  height: 50px;
  background: rgba(242, 57, 127, 0.7);
  border-top: 1px solid rgba(255,255,255, .2);
  border-bottom: 1px solid rgba(255,255,255, .2);
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0 100px;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px; /**  Rarely used! **/
}

nav ul li a:hover,
nav ul li a.active {
  background: rgba(175, 70, 189, 0.71);
  
} 


